@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Abhaya+Libre:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Josefin Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Abhaya Libre", Georgia, serif;
  --color-off-white: #e6e3df;
  --color-dulce: #a47c53;
  --color-choco: #776358;
  --color-gris: #2a2b2a;
  --color-ladrillo: #aa6552;
  --color-dark-choco: #27241c;
}

@layer base {
  body {
    background-color: var(--color-off-white);
    color: var(--color-gris);
  }
}
